<nav class="navbar navbar-expand-lg bg-primary fixed-top">
  {% if request.user.is_authenticated %}
  
  <div class="container">
    <a class=" ml-auto navbar-brand text-white" href="{% url 'blog-index'%}">PostScriber</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse", id="navbarSupportedContent">
      <ul class="navbar-nav me-0 mb-2 mb-lg-0" >

          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'users-profile'%}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'users-logout'%}">Logout</a>
          </li>
      </ul>
        
      
      
    </div>
  </div>

  {% else %}
  <div class="container">
    <a class=" ml-auto navbar-brand text-white" href="{% url 'users-login'%}">PostScriber</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'users-login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'users-sign-up'%}">Sign Up</a>
        </li>
      </ul>
        
          
      
    </div>
  </div>
  {% endif %}

</nav> 




