{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Login
{% endblock title %}


{% block content %}
<div class="cover">


<div class="container">
   
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3> Login Page </h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary btn-block" type="submit" value="Login">
                        </div>
                    </form>
                    <div class="d-grid gap-2 my-2">
                        <a class="btn btn-danger" href="{% url 'reset_password' %}">Forget Password</a>
                        
                        <a class= "btn btn-success" href="{% url 'users-sign-up'%}">Create Account</a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

</div>
</div>

{% endblock content %}




