{% extends 'partials/base.html' %} {% load crispy_forms_tags %} {% block title%}
Password Reset Compelte Page {% endblock title %} {% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card my-3 shadow">
        <div class="card-body">
          <h3>Password Reset Compelte Page</h3>
          <hr />
          <div class="alert alert-info">
            Your Password reset is successful login with new credentials
          </div>
         <a href="{% url 'users-login' %}">Login</a>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
