{% extends 'partials/base.html' %} {% load crispy_forms_tags %} {% block title%}
Password Reset Done Page {% endblock title %} {% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card my-3 shadow">
        <div class="card-body">
          <h3>Password Reset Done Page</h3>
          <hr />
          <div class="alert alert-info">
           A mail with instructions to reset password is sent to the email you provided.
          </div>
          
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
